@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
  color: #000;
}

a {
  text-decoration: none;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: none;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: block;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.hide-web {
  display: none !important;
}

header {
  height: 50px;
  background: #fff;
}
header #openNav,
header #search,
header #menu {
  width: 50px;
  float: left;
  height: 50px;
  text-align: center;
}
header #openNav img,
header #search img,
header #menu img {
  margin-top: 13px;
}

#arHeader {
  margin-top: 5px;
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 300;
  left: 0;
  top: 0;
  padding: 15px 22px;
}
#arHeader #logo {
  float: left;
  width: 30px;
}
#arHeader #logo img {
  width: 100%;
}
#arHeader #mobile {
  float: right;
  height: 100%;
  padding-top: 7px;
  font-weight: bold;
}
#arHeader #webview {
  float: right;
  margin-right: 10px;
}
#arHeader #webview img {
  width: 20px;
  height: 30px;
  margin-top: 2px;
}

#cartBtn {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 300;
  left: 0;
  bottom: 0;
}
#cartBtn #buyBtn {
  background-color: #00a7a0;
  font-size: 20px;
  font-weight: 900;
  color: white;
  line-height: 68px;
  float: left;
  width: calc(100% - 68px);
  text-align: center;
}
#cartBtn #buyBtn a {
  width: 100%;
  text-align: center;
  color: white;
}
#cartBtn #wishList {
  background: black;
  width: 68px;
  height: 68px;
  float: right;
}
#cartBtn #wishList img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 18px auto 0;
}

#wrap #productPicture {
  border: solid 1px #dedede;
  position: relative;
}
#wrap #productPicture img {
  display: block;
  width: 100%;
}
#wrap #productPicture #productBanner {
  position: absolute;
  width: 70px;
  display: none;
}
#wrap #productPicture #arBtn {
  z-index: 300;
  position: absolute;
  left: 18px;
  top: 300px;
  z-index: 300;
}
#wrap #productPicture #arBtn img {
  width: 24px;
  height: 27px;
  display: block;
  margin-bottom: 3px;
}
#wrap #productPicture #arBtn span {
  font-size: 13px;
  font-weight: 900;
  color: #3b3b3b;
}
#wrap #productTop {
  padding: 14px 20px;
}
#wrap #productTop #productLabel {
  float: right;
}
#wrap #productTop #productLabel span {
  float: left;
  border: solid 1px #dedede;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #8b8b8b;
}
#wrap #productTop #productInfo {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 18px;
}
#wrap #productTop #productInfo .title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #292929;
  margin-bottom: 5px;
}
#wrap #productTop #productInfo .tag {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #8b8b8b;
  margin-bottom: 15px;
}
#wrap #productTop #productInfo .price {
  font-family: "Roboto", sans-serif !important;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  color: #3b3b3b;
}
#wrap #productRating {
  text-align: center;
  margin-bottom: 17px;
  border-radius: 8px;
}
#wrap #productRating #ratePoint span {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: black;
}
#wrap #productRating #rateCount span {
  font-size: 11px;
  color: #afafaf;
}
#wrap #productRating #rateCount .count {
  color: black;
}
#wrap #detail #detailTab {
  padding-bottom: 70px;
}
#wrap #detail #detailTab ul li {
  float: left;
  width: 33.3%;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-right: none;
}
#wrap #detail #detailTab ul li a span {
  font-size: 14px;
  font-weight: 700;
  line-height: 58px;
}
#wrap #detail #detailTab ul li:nth-child(3) {
  border-right: solid 1px #c4c4c4;
}
#wrap #detailContent img {
  display: block;
  width: 100%;
}
#wrap #detailContent .contentWrap {
  padding: 40px 0;
}
#wrap #detailContent .contentWrap .contentBody {
  margin-bottom: 20px;
  margin-top: 32px;
}
#wrap #detailContent .contentWrap #content01 {
  padding: 0 20px;
}
#wrap #detailContent .contentWrap #content01 > div {
  border-top: 2px solid #cd3a87;
  padding-top: 20px;
  margin-bottom: 25px;
}
#wrap #detailContent .contentWrap #content01 > div .title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #141414;
  margin-bottom: 25px;
}
#wrap #detailContent .contentWrap #content01 > div .body {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #2f2f2f;
}
#wrap #detailContent .contentWrap #content01 > div .body span {
  color: #146f4a;
  font-weight: 500;
}
#wrap #detailContent .contentWrap #content03 {
  padding: 0 20px;
}
#wrap #detailContent .contentWrap #content03 > div {
  padding-top: 20px;
  margin-bottom: 25px;
}
#wrap #detailContent .contentWrap #content03 > div .title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #141414;
  margin-bottom: 25px;
  text-align: center;
}
#wrap #detailContent .contentWrap #content03 > div .body {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #808080;
  text-align: center;
}
#wrap #detailContent .contentWrap #detailReview {
  padding: 0 20px 30px;
}
#wrap #detailContent .contentWrap #detailReview .reviewTitle {
  font-size: 24px;
  font-weight: 700;
  color: #212121;
}
#wrap #detailContent .contentWrap #detailReview .inner ul {
  padding-top: 10px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewHeader {
  font-size: 14px;
  font-weight: 700;
  color: #4e4e4e;
  text-align: right;
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewHeader span {
  float: left;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewImage {
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewImage img {
  display: block;
  width: 100%;
  border: solid 1px #707070;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewText {
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewText .title {
  font-size: 16px;
  font-weight: 700;
  color: #2c2c2c;
  padding-bottom: 5px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewText .body {
  font-size: 12px;
  color: #2c2c2c;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewFooter span {
  font-size: 11px;
  color: #9b9b9b;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li .reviewContent .reviewFooter .reviewId {
  padding-right: 20px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewHeader {
  font-size: 14px;
  font-weight: 700;
  color: #4e4e4e;
  text-align: right;
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewHeader span {
  float: left;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewImage {
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewImage img {
  display: block;
  width: 100%;
  border: solid 1px #707070;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewText {
  padding-bottom: 14px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewText .title {
  font-size: 16px;
  font-weight: 700;
  color: #2c2c2c;
  padding-bottom: 5px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewText .body {
  font-size: 12px;
  color: #2c2c2c;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewFooter span {
  font-size: 11px;
  color: #9b9b9b;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li #reviewContent .reviewFooter .reviewId {
  padding-right: 20px;
}
#wrap #detailContent .contentWrap #detailReview .inner ul li:nth-child(1) {
  border-top: none;
}
#wrap #detailContent .contentWrap #detailReview .reviewMore {
  width: 100%;
  display: inline-block;
  text-align: center;
  border: solid 1px #707070;
  margin-top: 30px;
}
#wrap #detailContent .contentWrap #detailReview .reviewMore span {
  font-size: 14px;
  font-weight: 700;
  line-height: 55px;
  color: #212121;
}
#wrap #detailContent .contentWrap #relatedProduct {
  padding: 0 20px 50px;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap .title {
  font-weight: 700;
  color: #141414;
  margin-bottom: 20px;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li {
  float: left;
  width: 50%;
  padding: 22px;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li .inner .relatedInfo {
  padding-top: 24px;
  text-align: center;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li .inner .relatedInfo p {
  color: black;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li .inner .relatedInfo .name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li .inner .relatedInfo .tag {
  font-size: 10px;
  margin-bottom: 17px;
  color: #9e9e9e;
}
#wrap #detailContent .contentWrap #relatedProduct .wrap ul li .inner .relatedInfo .price {
  font-size: 12px;
}
#wrap #detailContent .contentWrap #checkList {
  padding: 20px;
}
#wrap #detailContent .contentWrap #checkList p {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #808080;
  line-height: 1.33;
  font-size: 12px;
}
#wrap #productVideo {
  width: 100%;
}
#wrap #productVideo video {
  width: 100%;
}

.addContent {
  display: none;
}

#fallback-test.ar-mode-on .ar-renderer .hide-ar {
  display: none !important;
}
#fallback-test.ar-mode-on .ar-renderer .hide-web {
  display: block !important;
}
#fallback-test.ar-mode-on .ar-renderer img {
  display: block;
  width: 100%;
}
#fallback-test.ar-mode-on .ar-renderer #productBanner {
  width: 194px;
}
#fallback-test.ar-mode-on .ar-renderer #productInfo {
  width: 400px;
  height: 330px;
  padding: 39px 41px;
  text-align: left;
  background-image: url("../asset/bg-product-top.png");
  background-size: cover;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer #productInfo .title {
  color: white;
  font-weight: 700;
  font-size: 34px;
}
#fallback-test.ar-mode-on .ar-renderer #productInfo .tag {
  color: white;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
}
#fallback-test.ar-mode-on .ar-renderer #productInfo .price {
  color: white;
  font-weight: 700;
  font-size: 65px;
  margin-top: 40px;
}
#fallback-test.ar-mode-on .ar-renderer #productInfo .price:after {
  color: white;
  display: block;
  content: "25g / 0.9oz x 5EA";
  font-size: 12px;
  margin-top: 15px;
}
#fallback-test.ar-mode-on .ar-renderer #productRating {
  width: 400px;
  height: 250px;
  padding: 21px 32px;
  border-radius: 7px;
  border: solid 2px white;
  background-color: rgba(242, 242, 242, 0.9);
  position: relative;
}
#fallback-test.ar-mode-on .ar-renderer #productRating #ratePoint {
  float: left;
  width: 150px;
  color: black;
  font-size: 60px;
  font-weight: 900;
  margin-top: 14px;
}
#fallback-test.ar-mode-on .ar-renderer #productRating #ratePoint:before {
  font-size: 20px;
  font-weight: bold;
  content: "리뷰평점";
  display: block;
  padding-bottom: 10px;
}
#fallback-test.ar-mode-on .ar-renderer #productRating #rateStar {
  width: 150px;
  margin: 20px 15px 0 0;
  float: right;
  font-size: 34px;
}
#fallback-test.ar-mode-on .ar-renderer #productRating #rateStar:before {
  font-size: 16px;
  content: "99%의 구매자들이 \a이 상품을 좋아합니다.";
  display: block;
  white-space: pre;
  margin-bottom: 8px;
}
#fallback-test.ar-mode-on .ar-renderer #productRating #rateCount {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer #productRating > div {
  color: black;
}
#fallback-test.ar-mode-on .ar-renderer #productRating:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  position: absolute;
  width: 430px;
  height: 235px;
  border-radius: 7px;
  border: solid 1px rgba(0, 0, 0, 0.17);
}
#fallback-test.ar-mode-on .ar-renderer #productVideo {
  width: 400px;
}
#fallback-test.ar-mode-on .ar-renderer #productVideo video {
  width: 100%;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer #content03 {
  background-image: url("../asset/bg-content-03.png");
  background-size: cover;
  width: 400px;
  height: 220px;
  padding: 52px 46px;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer #content03 p {
  color: #fff;
}
#fallback-test.ar-mode-on .ar-renderer #content03 .title {
  font-size: 28px;
  font-weight: 700;
  color: white;
  line-height: 1.4;
}
#fallback-test.ar-mode-on .ar-renderer #content01 {
  border-radius: 8px;
  background-color: rgba(9, 16, 13, 0.9);
  width: 400px;
  padding: 5px;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div {
  float: left;
  width: 185px;
  height: 185px;
  background-color: white;
  border-radius: 4px;
  margin: 5px;
  padding: 30px;
  position: relative;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div p {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div.titleContent {
  background-color: rgba(9, 16, 13, 0.9);
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div.titleContent .subtitle {
  font-size: 14px;
  font-weight: 700;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div.titleContent .title {
  font-size: 22px;
  font-weight: 700;
  color: #00a030;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div.titleContent .point {
  font-size: 20px;
  font-weight: 900;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div.titleContent .point span {
  font-size: 80px;
  font-weight: 900;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:before {
  display: block;
  position: absolute;
  left: 10px;
  top: 25px;
  font-size: 10px;
  font-weight: 900;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(1):before {
  content: "String CICA";
  color: white;
  display: block;
  padding-left: 23px;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(2):before {
  color: black;
  content: "01";
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(2):after {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  background-image: url("../asset/plus.png");
  background-size: cover;
  margin-top: 30px;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(3):before {
  color: black;
  content: "02";
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(3):after {
  content: "";
  position: absolute;
  width: 55px;
  height: 76px;
  background-image: url("../asset/bottle.png");
  background-size: cover;
  margin-top: 19px;
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(4):before {
  color: black;
  content: "03";
}
#fallback-test.ar-mode-on .ar-renderer #content01 > div:nth-child(4):after {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url("../asset/skin.png");
  background-size: cover;
  margin-top: 30px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct {
  background-color: rgba(255, 255, 255, 0.9);
  width: 450px;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap {
  padding: 20px 0px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .title {
  font-size: 15px;
  font-weight: 900;
  padding: 0 20px 20px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li {
  float: left;
  width: 50%;
  padding: 0 20px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li .inner img {
  float: left;
  width: 80px;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li .inner .relatedInfo {
  width: calc(100% - 90px);
  float: right;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li .inner .relatedInfo .name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li .inner .relatedInfo .tag {
  font-size: 10px;
  margin-bottom: 17px;
  color: #9e9e9e;
}
#fallback-test.ar-mode-on .ar-renderer #relatedProduct .wrap .product ul li .inner .relatedInfo .price {
  font-size: 12px;
  color: black;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent {
  width: 355px;
  height: 170px;
  border-radius: 8px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 400;
  padding: 25px;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewHeader {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewImage {
  float: left;
  padding-bottom: 14px;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewImage img {
  display: block;
  width: 113px;
  border: solid 1px #707070;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewText {
  float: right;
  width: 160px;
  padding-bottom: 14px;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewText .title {
  font-size: 16px;
  font-weight: 700;
  color: #2c2c2c;
  padding-top: 8px;
  padding-bottom: 5px;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewText .bodyDiv {
  height: 64px;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewText .body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Line Count */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3em;
  height: 3.9em;
  /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
  margin-top: 3px;
  font-size: 14px;
  color: #2c2c2c;
}
#fallback-test.ar-mode-on .ar-renderer #reviewContent .reviewFooter {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer .addContent {
  display: none;
  opacity: 0;
  width: 370px;
  height: 300px;
  padding: 10px;
  border-radius: 7px;
  background-color: white;
  border: 8px solid black;
}
#fallback-test.ar-mode-on .ar-renderer .addContent .title {
  float: left;
}
#fallback-test.ar-mode-on .ar-renderer .addContent .title p {
  font-size: 25px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer .addContent .closeBtn {
  margin-top: 10px;
  width: 60px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent .closeBtn img {
  width: 100%;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 {
  display: none;
  opacity: 0;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner .body {
  width: 336px;
  margin-top: 85px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner .body p {
  color: #2f2f2f;
  font-size: 17px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner .body p span {
  color: #146f4a;
  font-weight: 500;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner .topIcon {
  width: 65px;
  float: right;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner .topIcon img {
  width: 100%;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional01 .inner:before {
  color: black;
  content: "01";
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 {
  display: none;
  opacity: 0;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .title p {
  padding-top: 4px;
  font-size: 23px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .body {
  width: 336px;
  margin-top: 120px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .body p {
  color: #2f2f2f;
  font-size: 20px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .body p span {
  color: #146f4a;
  font-weight: 500;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .topIcon {
  width: 71px;
  float: right;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner .topIcon img {
  width: 100%;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional02 .inner:before {
  color: black;
  content: "02";
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 {
  display: none;
  opacity: 0;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner .body {
  width: 336px;
  margin-top: 100px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner .body p {
  color: #2f2f2f;
  font-size: 20px;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner .body p span {
  color: #146f4a;
  font-weight: 500;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner .topIcon {
  width: 70px;
  float: right;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner .topIcon img {
  width: 100%;
}
#fallback-test.ar-mode-on .ar-renderer .addContent#additional03 .inner:before {
  color: black;
  content: "03";
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #arBtn {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 300;
  width: 150px;
  left: unset !important;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #arBtn .to-ar {
  display: none !important;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #arBtn .to-web {
  display: block !important;
  width: 100%;
  padding: 15px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #openNav {
  position: fixed;
  z-index: 300;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #cartBtn {
  position: fixed;
  border: 1px solid #000;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #cartBtn #buyBtn {
  width: 100%;
  background: #fff;
  color: #000;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #cartBtn #wishList {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer #fallback-test.ar-mode-on #productBanner {
  display: block;
}
#fallback-test.ar-mode-on .ar-renderer #swiper-container {
  display: block;
  width: 390px;
}
#fallback-test.ar-mode-on .ar-renderer #swiper-container .swiper-pagenation {
  text-align: center;
  padding-top: 15px;
}
#fallback-test.ar-mode-on .ar-renderer #swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
#fallback-test.ar-mode-on .ar-renderer #swiper-container .swiper-pagination-bullet-active {
  background-color: #ff4ea9;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item {
  display: block;
  width: 375px;
  height: 500px;
  padding: 0 7.5px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item p, #fallback-test.ar-mode-on .ar-renderer .swiper-item span, #fallback-test.ar-mode-on .ar-renderer .swiper-item div {
  font-family: "Roboto", sans-serif !important;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productInfoAR {
  width: 375px;
  height: 300px;
  padding: 39px 20px;
  text-align: left;
  background-image: url("../asset/bg-product-top.png");
  background-size: cover;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productInfoAR .title {
  color: white;
  font-weight: 700;
  font-size: 30px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productInfoAR .tag {
  color: white;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productInfoAR .price {
  color: white;
  font-weight: 700;
  font-size: 65px;
  margin-top: 40px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productInfoAR .price:after {
  color: white;
  display: block;
  content: "25g / 0.9oz x 5EA";
  font-size: 12px;
  margin-top: 15px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productVideoAR {
  width: 375px;
  height: 185px;
  margin-top: 10px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productVideoAR video {
  width: 375px;
  height: 185px;
  object-fit: cover;
  border-radius: 8px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR {
  border-radius: 8px;
  background-color: rgba(9, 16, 13, 0.9);
  width: 375px;
  height: 300px;
  padding: 23px 5px 5px 5px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader p, #fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader span {
  font-family: "Roboto", sans-serif !important;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader .subtitle {
  padding-left: 30px;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader .mainTitle {
  padding-left: 28px;
  color: #0a7049;
  font-size: 26px;
  font-weight: bold;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader .point {
  padding-left: 29px;
  color: #ff4ea9;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR #contentHeader .point span {
  color: #ff4ea9;
  font-size: 80px;
  font-weight: 900;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem {
  float: left;
  width: 111px;
  height: 111px;
  background-color: white;
  border-radius: 4px;
  margin: 5px;
  padding: 8px;
  position: relative;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem p {
  font-size: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 42px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem.titleContent {
  background-color: rgba(9, 16, 13, 0.9);
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem.titleContent .subtitle {
  font-size: 14px;
  font-weight: 700;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem.titleContent .title {
  font-size: 22px;
  font-weight: 700;
  color: #00a030;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem.titleContent .point {
  font-size: 20px;
  font-weight: 900;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem.titleContent .point span {
  font-size: 80px;
  font-weight: 900;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:before {
  display: block;
  position: absolute;
  left: 6px;
  top: 8px;
  font-size: 10px;
  font-weight: 900;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(1):before {
  content: "String CICA";
  color: white;
  display: block;
  padding-left: 23px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(2):before {
  color: #ff4ea9;
  content: "01";
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(2):after {
  right: 10px;
  top: 10px;
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../asset/plus.png");
  background-size: cover;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(3):before {
  color: #ff4ea9;
  content: "02";
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(3):after {
  right: 10px;
  top: 10px;
  content: "";
  position: absolute;
  width: 25px;
  height: 35px;
  background-image: url("../asset/bottle.png");
  background-size: cover;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(4):before {
  color: #ff4ea9;
  content: "03";
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content01AR .contentItem:nth-child(4):after {
  right: 10px;
  top: 10px;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../asset/skin.png");
  background-size: cover;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content03AR {
  background-image: url("../asset/bg-content-03.png");
  background-size: cover;
  width: 375px;
  height: 185px;
  padding: 44px 30px;
  border-radius: 8px;
  margin-top: 10px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content03AR p {
  color: #fff;
  font-size: 22px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #content03AR .title {
  font-weight: 700;
  color: white;
  line-height: 1.4;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR {
  width: 375px;
  height: 145px;
  padding: 16px 28px;
  border-radius: 7px;
  background-color: rgba(28, 28, 28, 0.9);
  position: relative;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .ratePoint {
  float: left;
  width: 130px;
  font-size: 57px;
  font-weight: 900;
  text-align: left;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .ratePoint span {
  color: white;
  padding-left: 4px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .ratePoint:after {
  font-size: 14px;
  font-weight: bold;
  content: "Review Rating";
  display: block;
  padding-bottom: 10px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .rateStar {
  width: 150px;
  margin: 10px 15px 0 0;
  float: right;
  font-size: 34px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .rateStar .star {
  color: #d82d86;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .rateStar:after {
  font-size: 11px;
  content: "99% of buyers like this product.";
  display: block;
  white-space: pre;
  margin-top: 16px;
  padding-left: 4px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR .rateCount {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #productRatingAR > div {
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR {
  width: 390px;
  height: 170px;
  position: relative;
  margin-left: -8px;
  margin-top: -15px;
  border-radius: 8px;
  border: solid 1px black;
  background-color: white;
  z-index: 400;
  padding: 25px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewHeader {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewImage {
  float: left;
  padding-bottom: 14px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewImage img {
  display: block;
  width: 113px;
  border: solid 1px #707070;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewText {
  float: right;
  width: 205px;
  padding-bottom: 14px;
  padding-top: 5px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewText .title {
  font-size: 14px;
  font-weight: 700;
  color: #2c2c2c;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewText .bodyDiv {
  height: 64px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewText .body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Line Count */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
  height: 5.6em;
  /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
  margin-top: 16px;
  font-size: 11px;
  color: #2c2c2c;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #reviewContentAR .reviewFooter {
  display: none;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR {
  background-color: rgba(0, 0, 0, 0.9);
  width: 375px;
  height: 185px;
  border-radius: 8px;
  margin-top: 15px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #007148;
  padding-top: 20px;
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .title:before, #fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .title:after {
  content: "";
  flex-grow: 1;
  background: #007148;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product .inner img {
  width: 110px;
  float: left;
  margin-left: 40px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product .inner .relatedInfo {
  width: 185px;
  float: right;
  padding-top: 5px;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product .inner .relatedInfo .name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product .inner .relatedInfo .tag {
  font-size: 10px;
  margin-bottom: 5px;
  color: #9e9e9e;
}
#fallback-test.ar-mode-on .ar-renderer .swiper-item #relatedProductAR .wrap .product .inner .relatedInfo .price {
  font-size: 15px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
